li.item(class="#{_prefix}-list-item #{cls}")
    .item-head.clearfix
        .modal-header
            .header-wrap(class=imageUrl ? "" : "without-image")
                if imageUrl
                    .header-image
                        span
                            img(src=imageUrl width="60")
                .header-title
                    .item-title= title
                        .b-payment-side
                            span.ruble= "₽"
                            span.item-price= price
                    h5.item-subtitle= subtitle
                    span.panel-collapser
                        span= "—"
                        a.link-show(href="#")=" показать платеж"
            